* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    margin: 0;
    background: #f5f5f5;

    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 12px;

    justify-content: center;
    align-content: center;
}


#datetime-picker {
    height: 36px;
    padding: 6px 10px;
    font-size: 14px;

    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

#datetime-picker:focus {
    border-color: #4e75ff;
}


button[data-start] {
    height: 36px;
    padding: 0 16px;
    font-size: 14px;

    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;

    cursor: pointer;
}

button[data-start]:disabled {
    background-color: #e0e0e0;
    color: #999;
    cursor: not-allowed;
}


.timer {
    display: flex;
    gap: 20px;
    grid-column: 1 / -1;
}

.field {
    background: #fff;
    padding: 16px;
    min-width: 90px;
    text-align: center;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.value {
    display: block;
    font-size: 32px;
    font-weight: bold;
}

.label {
    font-size: 12px;
    color: #666;
    text-transform: uppercase;
}